<%- include('../../_layouts/header') %>

<%- include('../../_partials/sidebar') %>


<main id="edit-hatchling" data-id=<%=id%>>
  <h1>Hatchling: <%= id.substr(0,8) %></h1>
  <div class="card">
    <div class="title">Info</div>
    <table id="hatchling-info">
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="card">
    <div class="title">Code</div>
    <div id="editor"></div>
  </div>

  <script type="text/javascript" src="/js/manage/hatchlings/edit.js"></script>
</main>

<%- include('../../_layouts/footer') %>
